body {
  width: 100%;
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
  display: "absolute";
  top: "0";
  left: "0";
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/* exit */
.fade-exit {
  opacity: 1;
  display: "absolute";
  top: "0";
  left: "0";
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(1) translateX(100px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0);
  transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateX(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(1) translateX(-100px);
  transition: opacity 300ms linear, transform 300ms ease-in;
}
.slide-exit-done {
  opacity: 0;
}
